@import url("header.css");
@import url("carte.css");   
@import url("authentification.css");   

@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/Metropolis-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Metropolis";
    src: url("../assets/fonts/Metropolis-Thin.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Metropolis';
}

body {
    background-color: white;
}

section
{
    display : flex;
    width : 100%;

    margin-bottom: 20px;
}

section > aside 
{
    width: 100%;
}

section > aside:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

section > aside:first-of-type div {
    width: 80%;
}

section > aside h1 {
    font-size: 36px;
}

section > aside p, section > aside ul {
    font-size: 24px;
}

section:last-of-type > aside:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:last-of-type > aside:first-of-type {
    width: 100%;
}

button {
    height: 50px;
}

@media screen and (max-width: 1200px) 
{
    section {
        flex-direction: column;
    }
}