body {
    background-color: green;
}

.ui-widget-content 
{ 
    width: 130px; 
    height: 100px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0; 
    background-color: #ccffcc;
}

#droppable 
{ 
    width: 100; 
    height: 150px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px; 
}

#map 
{ 
    height: 300px; 
    width:900px;
}